DATABASE_URL=postgres://
NOTION_API_URL_EUR=https://notion-api.mkd.workers.dev/v1/table/TABLE_ID_EUR
NOTION_API_URL_JPY=https://notion-api.mkd.workers.dev/v1/table/TABLE_ID_JPY
NOTION_API_URL_USD=https://notion-api.mkd.workers.dev/v1/table/TABLE_ID_USD